<ion-header>
  <ion-toolbar>
    <ion-title> OnPush Strategy </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="updateArticleMutable()"
    >Update Article (mutable)</ion-button
  >

  <ion-button (click)="updateArticleImmutable()"
    >Update Article (immutable)</ion-button
  >

  <app-news-feed-item [article]="article"></app-news-feed-item>
  <app-news-feed-item [article]="article"></app-news-feed-item>
  <app-news-feed-item [article]="article"></app-news-feed-item>
  <app-news-feed-item [article]="article"></app-news-feed-item>
</ion-content>
